@charset "utf-8";
/* HTML共通部分-------------------------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jacques Francois', serif;
}
.overflow{
    overflow:auto;
    margin-right: 10px;
}
/* .main{
    padding: 10px;
} */
.flex_center{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.submit input{
    margin: 1.3% 0 0 47%;
    font-size: 40px;
    border: 2px solid #CAC0C0;
    background-color: #ffffff;
    border-radius: 10px;
}
.border{
    font-size: 45px;
    border: solid #CAC0C0 3px;
    width: 40%;
    height: 500px;
    margin: 0 auto;
    border-radius: 50px;
    color: #172451;
}
